* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.mainPage{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(5, 27, 118, 0.35), rgba(44, 1, 1, 0.6) ), url("mainImage2.jpeg");
    position: relative;
}

.titles {
    color: #ecf0f1;
}

.titles h1{
    position: absolute;
    top: 2vh;
    left: 1.5vw;    
    font-size: 4vmax;
    font-weight: 100;
}

.titles ul{
    position: absolute;
    top: 73vh;
    left: 2vw;
    font-size: 2.7vh;
}
.titles li{
    margin-bottom: 3vh;
}
.section {
    display: none;
    clear: both;
    border-top: 5px solid black;
    padding-top: 2vh;
    text-align: center;
    background-color: #77caef;
    color: aliceblue;
}

.courseBlock {
    padding-top: 2vh;
    text-align: center;
    float: left;
    width: calc(100vw/3);
    background-image:linear-gradient(to bottom, #77caef, rgba(222, 122, 49, 0.88) );
    color: aliceblue;
    padding-bottom: 30px;
    font-size: 1.5vmax;
}
.courseBlock h2 {
    font-size: 2vmax;
}

a {
   all: inherit;
    
}

ion-icon {
    font-size: 6vmax;
    background-color: rgba(222, 122, 49, 0.87);
    border-radius: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;   
    border: 10px solid #97ffd7;
}


button {
    all: inherit;
    margin-bottom: 0;
    cursor: pointer;
}
