* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mainImage{
    position: relative;
}
.mainImage img{
    width: 100%;
    height: 85%;
    object-fit: cover;
   
}

.titles {
    font-family: 'Open Sans', sans-serif;
    color: #ecf0f1;
}

.titles h1{
    position: absolute;
    top: 2%;
    left: 1.5%;
    font-size: 40px;
}


.titles h3{
    position: absolute;
    top: 60%;
    left: 1.5%;
    margin-bottom: 25;
    padding-bottom: 25;
}